@using System.Globalization
@using MK.BookStore.Models
@using MK.BookStore.ViewModel
@{
    var editModel = (EditOrderVM) Model.EditModel;
    var order = (OrderRecord) Model.Order;
    var details = (IList<dynamic>) Model.Details;
    var quantity = 0;
    
    Layout.Title = "Edit Order";
}

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.Hidden("Id", editModel.Id)
    <fieldset>
        <div class="editor-label">@Html.Label("Status")</div>
        <div class="editor-field">
            <select name="Status">
                @Html.SelectOption(order.Status, OrderStatus.New, "New")
                @Html.SelectOption(order.Status, OrderStatus.Paid, "Paid")
                @Html.SelectOption(order.Status, OrderStatus.Completed, "Completed")
                @Html.SelectOption(order.Status, OrderStatus.Cancelled, "Cancelled")
            </select>
        </div>
    </fieldset>
    <button type="submit">Save</button>
}

